<a href="#/locations/<%= location.escape('id') %>"><%= location.escape("title") %></a>
<br><strong>Description: </strong><%= location.escape("description") %>
<br><strong>Price: </strong><%= location.escape("price") %>