<strong><%= location.escape("title") %></strong>
<button style="float:right;" class="delete-location" data-id=<%= location.escape("id") %>">X</button>
<br>
Description: <%= location.escape("description") %>
<br>
Price: <%= location.escape("price") %>