<h1>New Location Page</h1>


<form class="location-form">

	<label for="title">Title</label>
	<input type="text" name="location[title]" id="title">

	<label for="description">Description</label>
	<input type="textarea" rows="10" cols="40" name="location[description]" id="description">

  <label for="price">Price</label>
	<input type="text" name="location[price]" id="price">

	<input type="submit" value="Add Location!">

</form>
	