<div id="map-view" style="position: absolute; top:50px; left:0px; width: 50%; height: 100%;">

</div>


<div id="master-index-right">


<div id="filters-view" style="height: 100px">
  <label for="amount">Choose Your Price Range:</label>
  <input type="text" id="amount" readonly style="border:0; font-weight:bold;">
  <br><br>
  <div id="slider"></div>
</div>
      

<div id="listings-index"><strong>Listings Index</strong><br>


</div>

