This is the master view, please fill it up.


<div id="filters-view"></div>
<div>
<div id="map-canvas" style="position: absolute; top:50px;left:0px;width: 50%; height: 100%"></div>
<div id="listings-index" style="position: absolute; top:50px; left:50%; width: 50%; height: 100%; outline: 1px solid black;">Listings Index</div>
</div>