<img src="http://redcentphotography.files.wordpress.com/2013/11/downtown1.jpg" 
     style="width: 100%">
<div class="jumbotron">
  <h1>WELCOME TO STAR TOURS</h1>
  <p>EXPLORE THE BAY AREA NOW</p>
  
</div>