  <div class="users-index">
	  <strong>Power-Users:</strong>
	  <br>
	
	<% users.each(function(user){ %>

	  <div class="review">
      <div class="about-picture">
		    <img src="<%= user.escape("picture_url") %>">
      </div>
		  <div class="reservation-content">
		    <li><strong>User:</strong> <%= user.escape("username") %></li>
		    <li><strong>Biography:</strong> <%= user.escape("biography") %></li>
	    </div>
    </div>
    <br>
	<% }) %>
  </div>