<h1>Add a review for <%= @location.title %></h1>

<form action="<%= reviews_url %>" method="post">

	<input type="hidden"
	       name="authenticity_token"
	       value="<%= form_authenticity_token %>">

	<input type="hidden"
	       name="review[location_id]"
	       value="<%= @location.id %>">

	<label for="body">Comments</label>
	<br>
	<textarea name="review[body]" id="body" rows="10" cols="40"></textarea>

  <br><br>
  <label for="rating">Rating</label>
	<select name="review[rating]" id="rating">
	  <option>Please Rate!</option>
	  <option value=5>5</option>
	  <option value=4>4</option>
	  <option value=3>3</option>
	  <option value=2>2</option>
	  <option value=1>1</option>
  </select>

	<input type="submit" value="Add Review!">

</form>
